[Unit]
Description=Broadcast Latency Tester - Reader
 
[Service]
Type=simple
ExecStart=/bin/bash /opt/blt/bin/goblt
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/opt/blt/bin

[Install]
WantedBy=multi-user.target
