[Unit]
Description=Broadcast Latency Tester - Generator
WantedBy=multi-user.target
 
[Service]
Type=simple
ExecStart=/bin/bash /opt/blt/bin/gen
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/opt/blt/bin
