.preview {
    width: 50%;
    display: inline-block;
}
.preview img {
    width: 100%;
}
.graph {
    width: 36%;
    display: inline-block;
}
.graph img {
    width: 100%;
}
.title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.log {
    width: 100%;
    text-align: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.dechist {
}


.error {
    font-weight: bolder;
    font-size: larger;
}

.nogenlock {
    background: red;
    color: white;
    padding: 0px 2px;
}
.genlock {
    background: green;
    color: white;
    padding: 0px 2px;
}
#rtc {
    width: 200px;
    text-align: center;
}
#thetime {
    font-family: monospace
}
.big {
    font-size: 96px;
}

.settingsubmit {
    text-align: right;
}
